{% extends 'base.html' %}

{% block body %}

<div class="button-group pr-3">
    <div class="row">
        <!-- button group -->
        <div class="col-2">
            <div class="add mb-2">
                <a href="{% url 'add_student' %}" class="btn btn-warning btn-md position-button" role="button"
                    id="add">Add Student</a>

            </div>
            <div class="student mb-2">
                <a href="{% url 'display_student' %}" class="btn btn-primary btn-md position-button" role="button"
                    id="std">Student</a>
            </div>
            <div class="choose">
                <a href="{% url 'upload_csv' %}" class="btn btn-success btn-md position-button" role="button"
                    id="choose">Choose csv</a>
            </div>
        </div>
        <!-- END button group -->

        <div class="col-">
            <h4 class="mt-0">Viewing : {{ header }}</h4>

            <!-- table -->
            <div class="col0-xl">
                <table class="table table-bordered color size table-backgroundcolor">
                    <thead>
                        <tr class="bg-primary center">
                            <th>Student_ID</th>
                            <th>Full_Name</th>
                            <th>January</th>
                            <th>February</th>
                            <th>March</th>
                            <th>April</th>
                            <th>May</th>
                            <th>June</th>
                            <th>July</th>
                            <th>August</th>
                            <th>September</th>
                            <th>October</th>
                            <th>November</th>
                            <th>December</th>
                            <th>Status</th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for item in items %}
                        <tr>
                            <td>{{ item.student_id }}</td>
                            <td>{{ item.first_name }} {{ item.last_name }}</td>
                            <td>{{ item.january }}</td>
                            <td>{{ item.february }}</td>
                            <td>{{ item.march }}</td>
                            <td>{{ item.april }}</td>
                            <td>{{ item.may }}</td>
                            <td>{{ item.june }}</td>
                            <td>{{ item.july }}</td>
                            <td>{{ item.august }}</td>
                            <td>{{ item.september }}</td>
                            <td>{{ item.october }}</td>
                            <td>{{ item.november }}</td>
                            <td>{{ item.december }}</td>
                            <td>{{ item.issues }}</td>
                            {% if header == "Student" %}
                            <td>
                                <a href="{% url 'edit_student' item.pk %}"
                                    class="btn btn-warning btn-sm my-1 center mr-0" role="button" id="edit">Edit</a>
                                <a href="{% url 'delete_student' item.pk %}" class="btn btn-danger btn-sm" role="button"
                                    id="del">Delete</a>
                            </td>
                            {% endif %}
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
                <!-- END table -->
            </div>
        </div>
    </div>


    {#    <a href="{% url 'display_january' %}" class="btn btn-primary btn-md" role="button"> January</a>#}
    {#    <a href="#" class="btn btn-warning btn-sm" role="button"> +</a>#}
</div>

<style>
    #std,
    #add,
    #choose {
        width: 150px;
    }

    #edit,
    #del {
        width: 60px;
    }

    .color {
        color: #112211;
    }

    .table-backgroundcolor {
        background-color: #ffffff;
        /* width: 1337px; */
        /* height: calc(100vh - 180px); */
        /* display: block; */
        /* margin-left: auto;
    margin-right: auto; */

    }

    .size {
        width: 70%;
    }

    .center {
        text-align: center;
    }
</style>
{% endblock %}